body{
font-family: Helvectica;
text-align: center;


}
a{
  color:white;
}
.design{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size:auto;

}
.followlink{
  font-size: 18px;
  color: white;
  text-align: center;

}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;

}
ul {
  list-style-type: none;
}
.NY{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-size:auto;

}
footer{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
